{% extends 'base.html.twig' %}

{% block title %}Hello Admin{% endblock %}

{% block body %}

<h1 class="display-4">Hello Admin</h1>

<p><a class="btn btn-primary btn-lg" href="{{ path('user_index') }}" role="button">CRUD Users</a></p>

{% endblock %}
